.nav-color {

  font-size: 30px;
  color: oldlace;
  font-family: "Times New Roman", Times, serif; 
}

.navbar-default {

  padding: 10px

}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* .col-sm-4 {
  background-color: white;
  padding: 50px
} */

.fixed-bottom {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  position : fixed;
  height : 40px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(25, 128, 128);
  text-align: center;
  color: white;
}
.container {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  
}

.col-md-4 sidebar{
  background-color: #f1f1f1
}
#summary-column {
  text-align: left;
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10%
}
#compare_title {
  text-align: left;
  color: lightseagreen;
  background-color: white;
  margin-left: 5%;
  margin-bottom: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10%
}

#compare_column {
  text-align: center;
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
margin-right: 5%;
}

.container-fluid {
     background-image: url('../assests/Images/grid-globe-background.jpg');

}

hr {
color: black;
border-width: 5px;
}

#visualizations {
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
padding: 12%
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}


/* Blur */
.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
/* Anything Smaller than Large */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navbar-default{

    background-color:lightseagreen"
  }
}